{{ block "pobpaste-form" . }}
<form id='pobpaste-form' hx-encoding='multipart/form-data' hx-post='/upload-export-string' hx-swap="outerHTML">
  <textarea name='raw' cols="42" rows="8">
    {{ .Raw }}
  </textarea>
  <button>
    Upload
  </button>
</form>
{{ end }}

{{ block "pobpaste" . }}
<div id="pobpaste">
  <textarea cols="42" rows="8">{{ .Raw }}</textarea>
  <div>
    {{ .Character.Build.Level }}
    {{ .Character.Build.ClassName }}
    <div>
      {{ range .Character.Build.PlayerStats }}
      {{ template "player-stat" . }}
      {{ end }}
    </div>
  </div>
  <pre>
    {{ .Character }}
  </pre>
  <pre>
    {{ .Decoded }}
  </pre>
</div>
{{ end }}

{{ block "player-stat" . }}
<div id="player-stat-{{ .Stat }}">
  {{ .Stat }}: {{ .Value }}
</div>
{{ end }}
